/* Reset de Estilos Básicos */

body, h1, ul, li {
    margin: 0;
    padding: 0;
  }

  

  /* Estilos Gerais */
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
  }

  

  header {
    background-color: #1900ff;
    color: white;
    text-align: center;
    padding: 10px 0;
  }

  

  .tarefas {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    background-color: blue;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-size: 20px;
  }

  

  ul {
    list-style: none;
    padding: 0;
  }

  

  li {
    margin: 10px 0;
    padding: 5px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }

footer {
    padding-top: 500px;
    text-align: center;
}